@use "../../app.scss";
@use "../../partials/global" as global;

.project-component {
  background-color: var(--primary-lighter);
  flex-grow: 1;
  flex-basis: 400px;
  max-width: 550px;
  height: 300px;
  transition: transform 0.1s;
  border-radius: 1rem;
  color: var(--font-on-dark);

  display: grid;
  grid-template-rows: 1fr 3rem;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 50px var(--primary-lighter);
  }

  @media (max-width: global.$breakpoint-mobile) {
    height: auto;

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
}

.project__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;

  @media (max-width: global.$breakpoint-mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@mixin project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.project__left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  padding-right: 0;

  .project-mobile-title {
    @include project-title;
    display: none;
  }

  .project-picture {
    width: 100%;
    aspect-ratio: 1;
    background-color: black;
    border-radius: 0.5rem;
  }
  @media (max-width: global.$breakpoint-mobile) {
    .project-picture {
      aspect-ratio: 4 / 3;
      width: 80%;
      justify-self: center;
    }
    .project-mobile-title {
      display: block;
      text-align: center;
    }
    display: grid;
    grid-template-rows: 3rem 1fr;
    grid-template-columns: 1fr;
    padding-right: 0.75rem;
  }
}

.project__right-side {
  display: grid;
  grid-template-rows: 3rem 1fr;

  .project-desktop-title {
    @include project-title;
  }
  .project-description {
    padding: 0.75rem;
    max-height: 200px;
    overflow-y: auto;
  }
  @media (max-width: global.$breakpoint-mobile) {
    .project-desktop-title {
      display: none;
    }

    .project-description {
      padding: 0.75rem 2rem;
    }

    grid-template-rows: 1fr;
  }
}

.project-tags {
  display: flex;
  align-items: center;
  text-indent: 1rem;
}
