@use "../../app.scss";
@use "../../partials/global" as global;

.project-component {
  background-color: var(--primary-lighter);
  width: 40%;
  min-width: 500px;
  aspect-ratio: 16 / 9;
  transition: aspect-ratio 0.5s;
  border-radius: 20px;

  @media (max-width: global.$breakpoint-mobile) {
    aspect-ratio: 2 / 3;
    max-width: auto;
    min-width: 300px;
  }
}
