@use "../../../partials/global" as global;

.nav-buttons {
  width: 100vw;
  height: 50px;
  line-height: 50px;
  font-size: 1.5rem;
  font-weight: 500;
  color: map-get(global.$light-theme, font-on-dark);
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

  &:hover,
  &.active {
    background-color: map-get(global.$light-theme, primary-darker);

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 3px;
      height: 50px;
      background-color: map-get(global.$light-theme, font-on-dark);
    }
  }
}

.nav-button-icon {
  width: 32px;
}
