@use "../../../partials/global" as global;
@use "../../../partials/navbar" as navbar;

.nav__button {
  width: navbar.$mobile-nav-width;
  height: 50px;
  line-height: 50px;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--font-on-dark);
  text-decoration: none;

  @media (min-width: global.$breakpoint-tablet) {
    width: navbar.$tablet-nav-width;
    max-width: navbar.$max-nav-width;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  transition: global.$global-transition;

  &::before {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    left: 0;
    width: 3px;
    height: 50px;
    background-color: var(--font-on-dark);
    transition: global.$global-transition;
  }

  &:hover,
  &.active {
    background-color: var(--primary-darker);

    &::before {
      opacity: 1;
    }
  }
}

.nav__button-icon {
  width: 32px;
}
