@use "../../../partials/global" as global;
@use "../nav-component" as nav;

.nav__component--closed {
  @include nav.nav-component(50px);

  font-size: 1.5rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

  @media (min-width: global.$breakpoint-tablet) {
    display: none;
  }

  &--off {
    bottom: -50px;
    transition-delay: 0s;
  }

  & img {
    width: 32px;
  }
}

.nav__component__icon-container {
  width: 32px;
  height: 32px;
}
