@use "../../../partials/global" as global;
@use "../nav-component" as nav;

$icon_size: 32px;

.nav__component--minimized {
  @include nav.nav-component(50px);

  font-size: 1.5rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

  @media (min-width: global.$breakpoint-tablet) {
    display: none;
  }

  &--off {
    bottom: -50px;
    transition-delay: 0s;
  }
}

.nav__component__icon-container {
  width: $icon_size;
  height: $icon_size;
  transform: translateX(-$icon_size / 4);
}

.nav__component__title {
  transform: translateX(-$icon_size / 4);
}
