@use "../partials/pages" as pages;
@use "../app.scss";

.home-page__component {
  @include pages.default-page-styles;
}

//ABOUT ME
.home-page__aboutme__title {
  @include pages.topic-title;
  height: 3rem;
}
.home-page__aboutme__text {
  margin: 2rem;
  margin-left: 3rem;

  p {
    margin-bottom: 1rem;
  }
}

//QUESTIONS AND ANSWERS
.home-page__qa__container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.home-page__qa__title {
  @include pages.topic-title;
  height: 3rem;
}

.home-page__qas {
  margin-top: 2.5rem;
}
