@use "../partials/pages" as pages;
@use "../partials/global" as global;
@use "../app.scss";

.home-page__component {
  @include pages.default-page-styles;
  overflow-y: auto;
  position: relative;
}

//TITLE
@mixin title-size-position {
  position: absolute;
  width: 100%;
  max-height: 600px;
  aspect-ratio: 16 / 10;

  @media (min-width: 1260px) {
    height: 100%;
    background-size: cover;
  }
}

.home-page__title__background {
  @include title-size-position;
  background-image: url("../assets/pictures/title-background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;

  filter: brightness(50%);
}
.home-page__title__container {
  @include title-size-position;
  position: relative;
  z-index: 1;
  color: var(--font-on-dark);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  transition: font-size 0.2s ease;

  @media (min-width: global.$breakpoint-mobile) {
    font-size: 2rem;
  }
  @media (min-width: global.$breakpoint-desktop) {
    font-size: 3rem;
  }
}
h3 {
  font-size: 0.75rem;
  font-weight: normal;
  transition: font-size 0.2s ease;

  @media (min-width: global.$breakpoint-mobile) {
    font-size: 1rem;
  }
  @media (min-width: global.$breakpoint-desktop) {
    font-size: 1.5rem;
  }
}

//ABOUT ME
.home-page__aboutme__title {
  @include pages.topic-title;
  height: 3rem;
}
.home-page__aboutme__text {
  margin: 2rem;
  margin-left: 3rem;

  p {
    margin-bottom: 1rem;
  }
}

//QUESTIONS AND ANSWERS
.home-page__qa__container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
