@use "../partials/pages" as pages;

.projects-page-component {
  @include pages.default-page-styles;
}

.projects-page__project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 25px;
  margin: 25px;
}
