@use "../app.scss";
@use "../partials/global" as global;

.projects-page-component {
  transition: global.$global-transition;
  height: 100%;
  background-color: var(--background);
  color: var(--primary-font-color);
}
