$breakpoint-mobile: 512px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$global-transition: 0.2s ease;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
