$light-theme: (
  "background": #f8f8f8,
  "font-on-light": #323232,
  "font-on-dark": #e2e2e2,
  "primary-lighter": #003720,
  "primary-darker": #002113,
  "selected-font": #6be485,
);

$dark-theme: (
  "background": #131313,
  "font-on-light": #e2e2e2,
  "font-on-dark": #e2e2e2,
  "primary-lighter": #131313,
  "primary-darker": #1f1f1f,
  "selected-font": #767676,
);

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
