.nav__profile__component {
  aspect-ratio: 1;

  @media (max-width: 768px) {
    display: none;
  }
}

.nav__profile-picture {
  width: 100%;
  border-radius: 50%;
  padding: 20px;
}

.nav__profile-name {
  text-align: center;
}
