@use "../../../partials/global" as global;

.nav__profile__component {
  display: none;
  @media (min-width: global.$breakpoint-tablet) {
    display: block;
  }
}

.nav__profile-picture__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__profile-picture {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 20px;
  transition: opacity 0.4s;
  background-image: url("/pictures/profile.png");
  background-size: contain;
}

.nav__profile-name {
  font-size: 1.75rem;
  text-align: center;
}
