@use "./partials/global" as global;
@import url("https://fonts.googleapis.com/css?family=Inter");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: "Inter", sans-serif;
  position: fixed;
  width: 100%;
  @include global.color-palette;
  background-color: var(--background);

  --font-on-light: var(--gray-2);
  --font-on-dark: var(--gray-4);

  &[style*="--theme-mode: dark"] {
    --background: var(--gray-0);
    --primary-darker: var(--gray-0);
    --primary-lighter: var(--gray-1);
    --selected-font: var(--gray-3);
    --primary-font-color: var(--gray-4);
    --page-topic-font-color: var(--gray-4);
  }

  &[style*="--theme-mode: light"] {
    --primary-font-color: var(--gray-2);
    --background: var(--gray-5);
    --primary-darker: var(--green-0);
    --primary-lighter: var(--green-1);
    --selected-font: var(--green-2);
    --page-topic-font-color: var(--green-1);
  }
}

#root {
  height: 100vh;
  @media (min-width: global.$breakpoint-tablet) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
  }
}
