@use "./partials/global" as global;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: sans-serif;
  position: fixed;
  width: 100%;

  --font-on-light: #323232;
  --font-on-dark: #e2e2e2;

  &[style*="--theme-mode: dark"] {
    --background: #131313;
    --primary-font-color: #e2e2e2;
    --primary-lighter: #1f1f1f;
    --primary-darker: #131313;
    --selected-font: #767676;
  }

  &[style*="--theme-mode: light"] {
    --background: #f8f8f8;
    --primary-font-color: #323232;
    --primary-lighter: #003720;
    --primary-darker: #002113;
    --selected-font: #6be485;
  }
}

#root {
  height: 100vh;
  @media (min-width: global.$breakpoint-tablet) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
  }
}
