@use "../../partials/global" as global;
@use "../../partials/navbar" as navbar;

@mixin nav-component($height) {
  background-color: map-get(global.$light-theme, primary-lighter);
  color: map-get(global.$light-theme, font-on-dark);
  position: absolute;
  left: 0;
  bottom: 0;
  height: $height;
  width: navbar.$mobile_nav_width;

  @media (min-width: global.$breakpoint_tablet) {
    width: navbar.$tablet_nav_width;
    max-width: navbar.$max_nav_width;
    position: static;
    float: left;
  }

  transition: bottom 0.3s ease-in-out;
  transition-delay: 0.3s;
}
