@use "../../partials/global" as global;
@use "../../partials/navbar" as navbar;
@use "../../app.scss" as app;

@mixin nav-component($height) {
  background-color: var(--primary-lighter);
  color: var(--font-on-dark);
  position: absolute;
  left: 0;
  bottom: 0;
  height: $height;
  width: navbar.$mobile-nav-width;

  @media (min-width: global.$breakpoint-tablet) {
    width: navbar.$tablet-nav-width;
    max-width: navbar.$max-nav-width;
    position: static;
    float: left;
  }

  transition: bottom 0.3s ease-in-out 0.3s, background-color 0.2s ease 0s;
}
